body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.centered {
  text-align: center;
}

img.featured {
  margin: 0 20px;
}

.header,
.section,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.footer {
  margin-top: 30px;
}

.footer {
  font-size: 13px;
}

.social {
  margin-top: 8px;
}

.section .img-responsive {
  margin: 0 auto;
}

.section h2 {
  font-size: 24px;
  margin-top: 0;
}

.browser {
  font-size: 20px;
}

.col-center {
  text-align: center;
}

.header {
  border-bottom: 1px solid #e5e5e5;
}
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.footer {
  padding-top: 12px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.section {
  margin: 0 0;
}
.section p + h4 {
  margin-top: 28px;
}

@media screen and (min-width: 768px) {
  .header,
  .section,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  .header {
    margin-bottom: 30px;
  }
  .jumbotron {
    border-bottom: 0;
  }
}
